body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    box-shadow: 0 0 15px gray;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: white;
}

.titulo {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 50px;
}

.banner {
    text-align: center;
    margin-bottom: 30px;
}

.banner img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 0 15px gray;
}

.atores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.ator {
    text-align: center;
}

.ator img {
    width: 180px;
    height: 250px;
    border-radius: 15px;
    border: 2px solid purple;
    object-fit: cover;
    box-shadow: 0 0 15px purple;
}